body {
	background-color:#86592d;
	width: 99%;
	color:white;
	font-family: "Fantasy", "Papyrus";
}
h1 {
	font-size:85px; 
	width: 20%; 
	display:inline;
	text-align: justify;
	vertical-align: 100px;
}

#recipe_tavern_left {
	margin-left: 350px;
}
#breakfast {
	padding-left: 615px;
	font-size: 25px;
	
}
#lunch, #dinner, #dessert, #themes {
	padding-left: 50px;
	font-size: 25px;
	
}
a {
	color: white;
}

a:visited {
	color:purple;
}

footer {
	text-align: center;
	
}
