body {
	background-color: #86562D;
	width: 99%;
	color: white;
	font-family: "Caveat", cursive;
}

p {
	font-size: 30px;
	
}

fieldset {
	font-size: 25px;
	
}

.head {
	display: inline-block;
	flex-wrap: no-wrap;
	text-align: center;
	justify-content: center;
	padding-left: 21%;
	padding-bottom: 2%;
}

lable {
	width: 500px;
	height: 200px;
	positionL relative;
	display: block;
	background: #ebebeb;
	border-radius: 200px;
	box-shadow: inset 0px; 5px 15px rdba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
	cursor: pointer;
	transition: 0.3s;
}

lable:after {
	content: "";
	width: 180px;
	height: 180px;
	position: absolute;
	top: 10px;
	left: 10px;
	background: linear-gradient(180deg,#ffcc89,#d8860b);
	border-radius: 180px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
	transition: 0.3s;
}

input {
	width: 0;
	height: 0;
	visibility: hidden;
	
}

input:checked +label {
	bacgkround-color: #242424;
}

input:checked + label:after {
	left:490px;
	transform: translateX(-100%);
	background: linear-gradient(180deg,#777,#3a3a3a);
	
}


.colorTheme {
	display: inline-block;
	width: 70px;
	height: 70px;
	
}


h1 {
	font-size:100px; 
	width: 30%; 
	display:inline;
	text-align: center;
}

nav {
	font-size: 40px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	margin-top: -30px;
	margin-bottom: -20px;
}

h2 {
font-size: 60px;
text-align: center;
border: solid 1px;
border-collapse: collapsed;
	
}

h3 {
border: solid 1px;
margin-left: 175px;
width: 60%;	
border-collapse: collapsed;
font-size: 50px;
	
}

.popularAmongViewers {
	display: inline;
	width:50%;
}
figure {
	padding-left: 1%;
	text-align: center;
}
figcaption {
	font-size: 30px;
}
.summerRecipes {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	margin-top: -40px;
}

.splitColumn {
  display: flex;
	flex-wrap: no-wrap;
	border-top: 1px solid;
	border-bottom: 1px solid;
	
}
.splitColumn figure {
	float: left;
	width: 50%; 
	flex-wrap: wrap;
	margin-right: 0px;
}

.popularAmongViewers {
  flex: 50%;
	border-right: 2px solid;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	display: inline;
}
.newlyAddedRecipes {
	flex: 50%;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
}
.newRecipes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
}
.chiliRecipes {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: space-evenly;
}

a {
	color: white;
	text-decoration: none; 
}

a:visited {
	color:white;
}

footer {
	text-align: center;
	font-size: 25px;
	
}