/*background color: #1b1d1e;
tile color: #474d50; */
body {
	background-color: #1b1d13;
	color: white;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 100vh;
	
}

#abstract_image {
	margin: 10px 30px;
	display: flex;
	align-items: space-around;
	margin: auto;
}

#user_avatar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	
}

.tile {
	background-color: #474d50;
	width: 30%;
	height: 40%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: space-around;
}

.tile:hover {
	height: 45%;
	
}
